<ul class="posts">
  <% posts.forEach(function(post){ %>
    <li><a href="<%- post.url -%>"><%- post.locals.year -%>-<%- post.locals.month -%>-<%- post.locals.day -%>: <%- post.title || post.url -%></a></li>
  <% }) %>
</ul>